@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Pacifico&family=Paprika&family=Poetsen+One&display=swap');
@import "tailwindcss";

h1{
     font-family: "Paprika", system-ui;
}
.logo{
  font-family: "Pacifico";
}
*{ 
     font-family: "Comic Neue", cursive;
}
